$color-accent: #FFCB5B
$color-text: #000000
$color-text-alt: #454545
$color-border: #DEDEDE
$color-background-alt: #F2F2F2
$color-background: #FFFFFF
$color-background-accent: #FFFCC9

$body-font-family: "DMSans", sans-serif
$heading-font-family: "Condate", sans-serif

$h1-weight: normal
$h1-size-desktop: pxToRem(53)

$h3-weight: normal
$h3-size-desktop: pxToRem(27)

$h4-font-family: $body-font-family

$h5-font-family: $body-font-family
$h5-size-desktop: pxToRem(27)
$h5-weight: bold
$h5-text-transform: none

$h6-font-family: $body-font-family

$header-color: $color-background
$header-background: $color-text
$header-logo-height: pxToRem(30)
$header-logo-height-desktop: pxToRem(43)
$header-border-bottom-width: 0
$header-sticky-background: $header-background
$header-dropdown-full: true

$hero-color: $color-background
$hero-background-color: $color-text

$footer-color: $color-background
$footer-background-color: $color-text
$footer-logo-height: pxToRem(45)
$footer-logo-height-desktop: pxToRem(90)

$btn-border-radius: pxToRem(30)
$btn-padding-y-desktop: space(2)

// SECTIONS
$persons-avatar-background-color: white

// BLOCKS
// Block call to action
$block-call-to-action-background: $color-background
$block-call-to-action-color: $color-text