$color-accent: #0038FF !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #F2F2F2 !default
$color-background: #FFFFFF !default

$body-font-family: "DMSans", sans-serif !default
$heading-font-family: $body-font-family

$h1-font-family: "Condate", sans-serif !default
$h2-font-family: "Condate", sans-serif !default
$h3-font-family: "Condate", sans-serif !default

$header-background: $color-background
$header-logo-height: 50px !default
$header-logo-height-desktop: 70px
$header-border-bottom-width: 0
$hero-background-color: $color-background

$footer-color: $color-background
$footer-background-color: $color-text