.page__home
    .hero:not(.hero--with-image)
        .content
            > h1, > hgroup
                width: col(9)

.post 
    .post-categories
        a
            color: inherit
            text-decoration: none
            padding: space(2) space(3) 
            background: $color-background-accent

.block-call_to_action
    .call_to_action
        .description p 
            @include h3
        .actions 
            a:first-child
                border: $btn-border
                &::after
                    display: none
                &[href^="mailto:"]
                    @include icon-block(social-email, before)
    @include in-page-without-sidebar
        .block-content
            border-bottom: 1px solid $color-border
            padding-top: 0
            padding-bottom: 0
            picture
                grid-column: 7 / 13
                margin-right: calc(#{container-margin-x()} * -1)
                img
                    height: 100%
                    width: 100%
                    object-fit: cover
            .call_to_action
                > div
                    padding-top: $spacing3
                    padding-bottom: $spacing3


.block-posts
    .top
        .block-title
            @include h3
            font-weight: bold
    .list
        .media
            display: none
        @include in-page-without-sidebar
            article
                display: block
            .post-content
                @include grid(12, false, 0)
                width: 100%
                [itemprop='headline']
                    @include h1
                    font-weight: bold
                .post-meta
                    position: relative
                    grid-row: 2
                    margin-top: $spacing0
                    time
                        @include h3
                .post-categories
                    margin-top: space(9)

                [itemprop='headline'], .post-meta, .post-categories
                    grid-column: 7 span
                [itemprop='articleBody']
                    grid-column: 5 span
                    grid-row: 1 / 5 span
                    order: 4

.block-persons
    @include in-page-without-sidebar
        .persons
            grid-template-columns: repeat(3, 1fr) !important
            .person
                flex-direction: column
                gap: $spacing1
                .description
                    text-align: center
                .avatar
                    align-self: center
                    width: col(2, 4)
